<form lass="m-t ng-pristine ng-valid" novalidate [formGroup]="companytype" (ngSubmit)="onSubmit(companytype)">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <input type="text" class="form-control green-focus" placeholder="company Type" formControlName="name">
        <div class="error" *ngIf="companytype.get('name').hasError('required') && companytype.get('name').touched">
          Company type is required!
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-primary block full-width m-b" [disabled]="companytype.invalid">Login</button>
    </div>
  </div>
</form>

<p-dataTable [value]="companyTypeList">  
  <p-column field="name123" header="name1"></p-column>
</p-dataTable>