<div class="forgotPwd-component  animated fadeInUp">
  <div class="loginColumns ng-scope">
    <div class="row">
      <div class="col-md-12">
        <div class="ibox-content">
          <h2>Forgot Password</h2>
          <hr>
          <form class="m-t ng-pristine ng-valid" novalidate [formGroup]="user" (ngSubmit)="onSubmit(user)">
            <div class="form-group">
              <input type="email" class="form-control green-focus" placeholder="Username" formControlName="username">
              <div class="error" *ngIf="user.get('username').hasError('required') && user.get('username').touched">
                Username is required!
              </div>
              <div class="error" *ngIf="user.get('username').hasError('email') && user.get('username').value.length>0">
                Username is not valid!
              </div>
            </div>            
            <button type="submit" class="btn btn-primary block full-width m-b" [disabled]="user.invalid">Submit</button>
            <a routerLink="/signin">
              <small>Return to Login</small>
            </a>
          </form>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>
